<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.herovitamin.scrollingtechniques" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Technique1Activity"
            android:label="@string/title_activity_technique1" >
        </activity>
        <activity
            android:name=".ForTestingActivity"
            android:label="@string/title_activity_for_testing" >
        </activity>
        <activity
            android:name=".Technique2Activity"
            android:label="@string/title_activity_technique2" >
        </activity>
        <activity
            android:name=".Technique3Activity"
            android:label="@string/title_activity_technique3" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Technique4Activity"
            android:label="@string/title_activity_technique4" >
        </activity>
        <activity
            android:name=".Technique5Activity"
            android:label="@string/title_activity_technique5" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
